.calc{
    width: 100%;
    background: #1f1f24;
    padding-bottom: 30px;
    // min-height: 200px;
    &>div{
        display: flex;
        // justify-content: space-around;
        a{
            width: 200px;
            height: 50px;
            line-height: 50px;
            display: block;
            border: 2px solid #30deab;
            color:white;
            text-align: center;
            border-radius: 25px;
            // background: #30deab;
            background: rgb(31,31,36);
            margin-right: 30px;

            &:hover,&:link{
                text-decoration: none !important;
            }
        }
    }
    
}