.pool-reward{
    background: rgb(31, 31, 36);
    width: 100%;
    max-width: 100% !important;
    min-height: 489px;
    &>div{
        max-width: 1200px !important;
        .reward-cell{
            flex: none;
            width: 400px;
            min-height: 180px;
            border-color: rgb(48,222,171);
            margin: 0;
            padding: 0;
            background: transparent;
            margin-bottom: 35px;
            button{
                border: none;
                width: 150px;
                background: rgb(48,222,171);
            }
            
            h4,h3{
                color: white !important;
                font-weight: normal;
            }
            h3{
                width: 150px;
                text-align: center;
                img{
                    margin-right: 12px;
                }
            }
        }
    }
    .reward-account{
        color: white;
        border: 2px solid rgb(48,222,171);
        border-radius: 25px;
        display: flex;
        padding: 10px 20px;
        width: 40%;
        justify-content: space-between;
        margin: 45px  auto;

        &+div{
            justify-content: space-between;
        }
    }
}